<!DOCTYPE html>
<html>
    <head>
        <title>Day Two</title>


        <style>

body{
    background-color: orange;
}

            h1{
                color:red;
            }

            p{
                color:blue;
                font-size: 35;
            }

            li{
                color:green;
            }




        </style>
    </head>

    <body>

        <h1>cedars productivity centre</h1>

        <img src="../Assects/images/Screenshot (2).png" width="300" alt="class-room">

        <p> cedars is a community of...</p>

        <ul>
            <li>Thinkers</li>
            <li>Technologist</li>
            <li>Startup founders</li>
        </ul>

        <p>cedars productivity centre is a social enterprise... </p>


        
    </body>