<!DOCTYPE html>
<html>
<html lang"eng">

<head>
    <tittle>class work</tittle>
 <head>
      <body>
            <h1><CENTER>PEPPLE KELVIN SAMUEL</CENTER></h1>
          <h2><center>Mr. Tumin Tobins Compound,
            Akiama, Bonny Island, Rivers </center> </h2>
            <P><STRONG><center>Tel:08134470641</center></STRONG></P>
          <p><strong>CARRIAR OBJEDTIVE:</strong> A self-motivated, result oriented and innovative individual who 
            can work under pressure with little or no suspension. Ateam player seeking a fulfilling and challenging working 
            environment to aid the growth and development of an organisation where execellence and innovation are celebrated.</p>
            
            <P><strong>BIO-DATA:</strong></P>

            <p>Date of Birth:               26<sup>th</sup> April</p>

            <p>Sex:                         male</p>

            <p>Religion:                    Christianity</p>

            <p>Natonality:                  Nigerian</p>

            <p>State of Orirgin:            Rivers SDtate</p>

            <p>Local Govt. Area:            Oppobo/Nkoro</p>

            <p><strong>INDTITUTIONS ATTENDED WITH DATE:</strong></p>

            <ul>Comprehensive Junior Secondary School Opobo Town        2015-2018
                Junior WAEC
            </ul>

            <ul>Community Seciondary School Abalamabie, Bonny Island.   2018-2021
                West African Examination Council(WAEC)
            </ul>

            <p><strong>WORK EXPERIENCE AND DATE:</strong></p>

            <P>Company:            Cobeavic Company</P>

            <p>Position:           Operator</p>

            <p>Date:               2019-2021</p>

            <p><strong>HOBBIES:</strong></p> <P>Reading, Research & Dancing</P>

            <P><STRONG>REFERENCE:</STRONG></P>         
        <P><ol><STRONG>Mr. Tumini Tobin</STRONG></ol></P>
            <p><strong>08037126763</strong></p>

